<div class="banner" style="background-image: url(<%= cl_image_path @list.photo.key, height: 600, crop: :fill %>)">
  <h2> <%= @list.name %> </h2>
</div>
<div class="container">
  <div class="button">
    <%= link_to "Add new movie", new_bookmark_path %>
  </div>
  <div class="card-container-movie">
      <% @list.movies.each do |movie| %>
        <div class="card-movie">
          <%= image_tag movie.poster_url, alt: "movie_image", width: 200 %>
          <div class="movie-info">
            <div class="header">
              <div class="title">
                <%= movie.title %>
              </div>
              <div class="rating">
                • <%= movie.rating %>
                <i class="fa-solid fa-star"></i>
              </div>
            </div>
            <div class="overview">
              <%= movie.overview %>
            </div>
            <% raise %>
            <%# <%= movie.comment %>
          </div>
        </div>
      <% end %>
  </div>
</div>


<%# <%= link_to "Back to list", lists_path %>
